<footer class="bg-black space-y-10 pt-16 pb-8">
    <div class="flex justify-center gap-5">
        <input class="rounded-full p-4 w-44" type="search" placeholder="Updates in your inbox">
        <button class="bg-bright-red text-white px-8 rounded-full">GO</button>
    </div>
    <div class="grid text-white grid-cols-2  gap-y-4 place-items-center">
        <div class=""><span>Home</span></div>
        <div>Pricing</div>
        <div>Products</div>
        <div>About Us</div>
        <div>Careers</div>
        <div>Community</div>
        <div>Privacy Policy</div>
    </div>

    <div class="flex justify-center space-x-10">
        <picture><img src="../../../../assets/icon-facebook.svg" alt=""></picture>
        <picture><img src="../../../../assets/icon-youtube.svg" alt=""></picture>
        <picture><img src="../../../../assets/icon-twitter.svg" alt=""></picture>
        <picture><img src="../../../../assets/icon-pinterest.svg" alt=""></picture>
        <picture><img src="../../../../assets/icon-instagram.svg" alt=""></picture>
    </div>
</footer>
